<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../css/estilosLogin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<div class="div-conten">
		<img class="logotipo" src="../img/cartel/20.png" alt="logotipo">
		<h1>Inicio de Sesion</h1>
		<form action="" method="POST">
			<label for="nombre-usuario">Nombre de Usuario</label>
			<input type="text" placeholder="Ingresa Nombre de Usuario" name="username">

			<label for="contraseña">Contraseña</label>
			<input type="password" placeholder="Ingresa Contraseña" name="password">
			<div style="text-align: center; margin-bottom: 10px;">
				<a href="register.php">No tienes cuenta aun?</a>
			</div>
			<input type="submit" value="Iniciar Sesion">
		</form>
	</div>    
</body>
</html>